<!--
	A component that creates a default header for a Thinkcap application, showing logo, title, basic links,
	description if needed, and authorization information as configured in the application declaration.
-->
<window title="" border="none" width="100%">

	<zscript><![CDATA[
	import org.integratedmodelling.thinkcap.core.Thinkcap;
	import org.integratedmodelling.thinkcap.core.ThinkcapSession;
	import org.integratedmodelling.thinkcap.core.ThinkcapApplication;
	import org.zkoss.zk.ui.Sessions;
	
	ThinkcapSession thisSession = Thinkcap.get().getThinkcapSession(Sessions.getCurrent());
	ThinkcapApplication app = thisSession.getApplication();
	]]></zscript>
	<hbox>
		<image id="logo" src="${app.logoURL}" onClick="Executions.sendRedirect(app.relativeUrl)"/>
		<separator width="16px"/>
		<vbox width="100%">
			<!--  <div align="right" width="600px"><authenticationmenu/></div>  -->
			<separator height="6px"/>
			<label 
				value="${app.id}" 
				style="color: #aaaaaa; font-family: Tahoma, Verdana, sans-serif; font-size: 24pt; text-decoration: none;"/>
			<separator height="6px" width="100%"/>
			<label value="${app.runningHead}" style="font-size: 16px; color: #bbbbbb" height="24px"/>
			<separator bar="true" width="100%"/>
			<!--  menu 
			<toolbar>
				<toolbarbutton forEach="${app.menu}" label="${each.id}" href="${each.url}" />
			</toolbar> -->
		</vbox>	
	</hbox>
</window>
