<window>
	
	<zscript>
		
		String kbox = null;
		String concept = null;
		
	   	for (Map.Entry entry : arg.entrySet()) {

			if (!(entry.value instanceof String))
				continue;

			String key = (String)entry.getKey();
			String value = (String)entry.getValue();
			
			if (key.equals("kbox"))
				kbox = value;
			else if (key.equals("concept")) 
				concept = value;

			}
   		}
	
	</zscript>
	
	<vbox>

		<!-- where things happen -->		
		<window></window>
		<!-- toolbar buttons -->
		<hbox></hbox>
	
	</vbox>
	
	

</window>